.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.p-menuitem a.active {
  font-weight: 700;
  background-color: var(--surface-card);
}

#portfolio .p-card-content {
  padding-block: 0;
}

#portfolio {
  min-height: 500px;
}
